In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df= pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\basic.csv",index_col='name',usecols=('name','SEC','FGpct','3PM','3Ppct','FTM','FTpct','ORB','TRB','AST','STL','BLK','TOV','PTS','plusminusPTS'))
Adf=pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\advanced.csv",index_col='name',usecols=('name','USGpct','DEFRTG'))

In [ ]:
#creating a per game table with stats I need
# to be eligible, they need to have play at least 58 games

In [27]:
df.loc['Jaylen Brown']

,SEC,FGpct,3PM,3Ppct,FTM,FTpct,ORB,TRB,AST,STL,BLK,TOV,PTS,plusminusPTS
name,,,,,,,,,,,,,,
Jaylen Brown,2314.0,0.583,4,0.333,3,1.000,0,3,2,2,1,4,35,7
Jaylen Brown,2041.0,0.667,2,0.667,2,1.000,1,4,3,2,2,3,28,-4
Jaylen Brown,2250.0,0.250,1,0.167,3,0.750,1,9,4,1,1,2,12,14
Jaylen Brown,2123.0,0.348,2,0.286,3,0.750,3,6,2,0,2,1,21,-10
Jaylen Brown,2568.0,0.500,2,0.286,8,0.667,0,8,4,2,0,6,32,-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jaylen Brown,1681.0,0.353,0,0.000,0,0.000,2,6,2,0,0,3,12,-28
Jaylen Brown,2239.0,0.438,1,0.200,2,0.400,0,4,4,2,0,1,17,9
Jaylen Brown,2212.0,0.500,3,0.600,0,0.000,2,2,2,3,0,1,21,16
Jaylen Brown,2338.0,0.563,0,0.000,8,0.800,5,10,3,2,0,4,26,7
Jaylen Brown,2585.0,0.348,1,0.111,2,1.000,0,8,5,1,2,8,19,-17

In [23]:
player= df.loc['Jaylen Brown']

In [33]:
len(player)

88

In [25]:
if len(player)>58:
    print('he is eligible')
else:
    print('he is not eligible')

he is eligible

In [32]:
player.mean()

SEC             2176.632184
FGpct              0.487761
3PM                2.306818
3Ppct              0.328420
FTM                3.568182
FTpct              0.689636
ORB                1.170455
TRB                6.488636
AST                3.409091
STL                1.090909
BLK                0.386364
TOV                2.988636
PTS               25.420455
plusminusPTS       3.386364
dtype: float64

In [45]:
avg= player.mean()

In [51]:
desiredCategory=['SEC','3PM','3Ppct','FTpct','ORB','TRB','AST','STL','BLK','TOV','PTS','plusminusPTS']
desiredStats=[]
for i in range(len(desiredCategory)):
    desiredStats.append(avg[desiredCategory[i]])

In [ ]:
#using list of dictionaries

In [53]:
jbDict={}

for i in range(len(desiredCategory)):
    jbDict[desiredCategory[i]]=desiredStats[i]

In [61]:
lod=[]
lod.append(jbDict)
print(lod)

[{'SEC': 2176.632183908046, '3PM': 2.3068181818181817, '3Ppct': 0.3284204545454546, 'FTpct': 0.6896363636363637, 'ORB': 1.1704545454545454, 'TRB': 6.488636363636363, 'AST': 3.409090909090909, 'STL': 1.0909090909090908, 'BLK': 0.38636363636363635, 'TOV': 2.9886363636363638, 'PTS': 25.420454545454547, 'plusminusPTS': 3.3863636363636362}]

In [60]:
pd.DataFrame(lod)

,SEC,3PM,3Ppct,FTpct,ORB,TRB,AST,STL,BLK,TOV,PTS,plusminusPTS
0,2176.632184,2.306818,0.32842,0.689636,1.170455,6.488636,3.409091,1.090909,0.386364,2.988636,25.420455,3.386364

In [1]:
#...........................................................................................