In [2]:
import csv
import pandas as pd
basic= pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\basic.csv",usecols=('name','SEC','FGpct','3PM','3Ppct','FTM','FTpct','ORB','TRB','AST','STL','BLK','TOV','PTS','plusminusPTS'))
advanced=pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\advanced.csv",usecols=('USGpct','DEFRTG'))

In [3]:
#Concatinating the 2 tables with the values I need
df=pd.concat([basic,advanced], axis=1)
df.head()

,name,SEC,FGpct,3PM,3Ppct,FTM,FTpct,ORB,TRB,AST,STL,BLK,TOV,PTS,plusminusPTS,DEFRTG,USGpct
0,Jaylen Brown,2314.0,0.583,4,0.333,3,1.000,0,3,2,2,1,4,35,7,119.2,0.354
1,Jayson Tatum,2317.0,0.650,2,0.286,7,0.778,0,12,4,1,1,3,35,10,111.4,0.321
2,Al Horford,1386.0,0.286,2,0.400,0,0.000,1,5,1,0,0,0,6,8,126.1,0.140
3,Derrick White,1442.0,0.333,0,0.000,0,0.000,1,3,4,1,0,1,2,9,107.5,0.069
4,Marcus Smart,2165.0,0.375,1,0.250,7,0.875,1,3,7,1,0,1,14,0,121.3,0.160

In [4]:
#writing a function which takes as input, the stats category wanted and the value whose frequency is requested
def statsFrequency(category,value):
#requesting user input to determine whether the table should be displayed or no
    records= input("Do you want to see the records? (Y for yes and N for no)")
    if records.lower()== "y":
        print("frequency: " + str(len(df[df[category]==value])))
        return df[df[category]==value]
    if records.lower()== "n":
        return print("frequency: " + str(len(df[df[category]==value])))

In [5]:
statsFrequency('AST',20)

frequency: 3

,name,SEC,FGpct,3PM,3Ppct,FTM,FTpct,ORB,TRB,AST,STL,BLK,TOV,PTS,plusminusPTS,DEFRTG,USGpct
24866,James Harden,2372.0,0.273,1,0.167,7,0.778,1,9,20,0,0,1,14,13,126.1,0.165
29798,Fred VanVleet,2261.0,0.412,1,0.125,5,1.000,1,5,20,3,0,2,20,18,113.0,0.231
30894,Trae Young,2562.0,0.500,1,0.167,12,0.857,0,3,20,4,0,9,27,10,106.1,0.276